In [64]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('ds_salaries.csv')

In [3]:
data.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [4]:
data.drop('Unnamed: 0', axis = 1, inplace=True)

In [5]:
data["job_title"].value_counts()

Data Scientist                              143
Data Engineer                               132
Data Analyst                                 97
Machine Learning Engineer                    41
Research Scientist                           16
Data Science Manager                         12
Data Architect                               11
Big Data Engineer                             8
Machine Learning Scientist                    8
Principal Data Scientist                      7
AI Scientist                                  7
Data Science Consultant                       7
Director of Data Science                      7
Data Analytics Manager                        7
ML Engineer                                   6
Computer Vision Engineer                      6
BI Data Analyst                               6
Lead Data Engineer                            6
Data Engineering Manager                      5
Business Data Analyst                         5
Head of Data                                  5
Applied Data Scientist                        5
Applied Machine Learning Scientist            4
Head of Data Science                          4
Analytics Engineer                            4
Data Analytics Engineer                       4
Machine Learning Developer                    3
Machine Learning Infrastructure Engineer      3
Lead Data Scientist                           3
Computer Vision Software Engineer             3
Lead Data Analyst                             3
Data Science Engineer                         3
Principal Data Engineer                       3
Principal Data Analyst                        2
ETL Developer                                 2
Product Data Analyst                          2
Director of Data Engineering                  2
Financial Data Analyst                        2
Cloud Data Engineer                           2
Lead Machine Learning Engineer                1
NLP Engineer                                  1
Head of Machine Learning                      1
3D Computer Vision Researcher                 1
Data Specialist                               1
Staff Data Scientist                          1
Big Data Architect                            1
Finance Data Analyst                          1
Marketing Data Analyst                        1
Machine Learning Manager                      1
Data Analytics Lead                           1
Name: job_title, dtype: int64

In [49]:
data["work_year"].value_counts()

2022    318
2021    217
2020     72
Name: work_year, dtype: int64

In [24]:
data["company_size"].value_counts()

M    326
L    198
S     83
Name: company_size, dtype: int64

In [8]:
data['employment_type'].value_counts()

FT    588
PT     10
CT      5
FL      4
Name: employment_type, dtype: int64

In [9]:
data.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [36]:
#data.drop('salary', axis = 1, inplace=True)
#data.drop('salary_currency', axis = 1, inplace=True)
data.drop('employee_residence',axis=1,inplace=True)

In [37]:
data.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,79833,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,0,JP,S
2,2020,SE,FT,Big Data Engineer,109024,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,50,US,L

### Salary Predict

In [38]:
workyear = data.iloc[:,0:1].values#
explevel = data.iloc[:,1:2].values#
emptyp = data.iloc[:,2:3].values#
job = data.iloc[:,3:4].values#
salary_usd = data.iloc[:,4:5].values#
rem_ratio = data.iloc[:,5:6].values
comp_loc = data.iloc[:,6:7].values
comp_size = data.iloc[:,7:8].values

### Digitizing categorized data

In [50]:
ohe = preprocessing.OneHotEncoder()
work_year = ohe.fit_transform(data.iloc[:,0:1]).toarray()
level = ohe.fit_transform(data.iloc[:,1:2]).toarray()
etyp = ohe.fit_transform(data.iloc[:,2:3]).toarray()
Job = ohe.fit_transform(data.iloc[:,3:4]).toarray()
rratio = ohe.fit_transform(data.iloc[:,5:6]).toarray()
cloc = ohe.fit_transform(data.iloc[:,6:7]).toarray()
csize = ohe.fit_transform(data.iloc[:,7:8]).toarray()

In [51]:
workyear = pd.DataFrame(data=work_year,index=range(607),columns=['2022','2021','2020'])
Level = pd.DataFrame(data=level,index=range(607),columns=['MI','SE','EN','EX'])
Empt = pd.DataFrame(data=etyp,index=range(607),columns=['FT','PT','CT','FL'])
JOB = pd.DataFrame(data=Job,index=range(607),columns=['DS','DE','DA','MLE','RS','DSM','DARCH','BDE','MLS','PDS','AIS','DSC','DoDS','DAM','MLEN','CVE','BIDA','LDE','DEM','BDA','HoD','ADS','AMLS','HoDS','ANE','DAEN','MLDE','MLIEN','LEADS','CVSE','LDAN','CVSE','LDANS','DSENG','PRDATA','PRDATAA','ETLD','PRODA','DoDAEN','FİDAA','CLDE','LMLEN','NLPEN','HoMALE','3DCVR','DASP','STDS','BİGDATAARC','FİNDA','MADA'])
Rratio = pd.DataFrame(data=rratio,index=range(607),columns=['0','50','100'])
Cloc = pd.DataFrame(data=cloc,index=range(607),columns=['US','GB','CA','DE','IN','FR','ES','GR','JP','NL','AT','PT','PL','LU','PK','BR','AE','MX','AU','TR','DK','IT','CZ','SI','RU','CH','NG','CN','BE','VN','EE','AS','DZ','MY','MD','KE','SG','CO','IR','CL','MT','IL','UA','IQ','RO','HR','NZ','HU','HN','IE'])
Csize = pd.DataFrame(data=csize,index=range(607),columns=['S','M','L'])

In [52]:
t = pd.concat([workyear,Level],axis=1)
print(t)

     2022  2021  2020   MI   SE   EN   EX
0     1.0   0.0   0.0  0.0  0.0  1.0  0.0
1     1.0   0.0   0.0  0.0  0.0  0.0  1.0
2     1.0   0.0   0.0  0.0  0.0  0.0  1.0
3     1.0   0.0   0.0  0.0  0.0  1.0  0.0
4     1.0   0.0   0.0  0.0  0.0  0.0  1.0
..    ...   ...   ...  ...  ...  ...  ...
602   0.0   0.0   1.0  0.0  0.0  0.0  1.0
603   0.0   0.0   1.0  0.0  0.0  0.0  1.0
604   0.0   0.0   1.0  0.0  0.0  0.0  1.0
605   0.0   0.0   1.0  0.0  0.0  0.0  1.0
606   0.0   0.0   1.0  0.0  0.0  1.0  0.0

[607 rows x 7 columns]

In [53]:
t2 = pd.concat([t,Empt],axis=1)
print(t2)

     2022  2021  2020   MI   SE   EN   EX   FT   PT   CT   FL
0     1.0   0.0   0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0
1     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
2     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
3     1.0   0.0   0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0
4     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
..    ...   ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
602   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
603   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
604   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
605   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
606   0.0   0.0   1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0

[607 rows x 11 columns]

In [54]:
t3 = pd.concat([t2,JOB],axis=1)
print(t3)

     2022  2021  2020   MI   SE   EN   EX   FT   PT   CT  ...  CLDE  LMLEN  \
0     1.0   0.0   0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...   0.0    0.0
1     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...   0.0    1.0
2     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...   0.0    0.0
3     1.0   0.0   0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...   0.0    0.0
4     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...   0.0    0.0
..    ...   ...   ...  ...  ...  ...  ...  ...  ...  ...  ...   ...    ...
602   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...   0.0    0.0
603   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...   0.0    0.0
604   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...   0.0    0.0
605   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...   0.0    0.0
606   0.0   0.0   1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...   0.0    0.0

     NLPEN  HoMALE  3DCVR  DASP  STDS  BİGDATAARC  FİNDA  MADA
0      0.0     0.0    0.0   0.0   0.0         0.0    0.0   0.0
1      0.0     0.0    0.0   0.0   0.0         0.0    0.0   0.0
2      0.0     0.0    0.0   0.0   0.0         0.0    0.0   0.0
3      0.0     0.0    0.0   0.0   0.0         1.0    0.0   0.0
4      0.0     0.0    0.0   0.0   0.0         0.0    0.0   0.0
..     ...     ...    ...   ...   ...         ...    ...   ...
602    0.0     0.0    0.0   0.0   0.0         0.0    0.0   0.0
603    0.0     0.0    0.0   0.0   0.0         0.0    0.0   0.0
604    0.0     0.0    0.0   0.0   0.0         0.0    0.0   0.0
605    0.0     0.0    0.0   0.0   0.0         0.0    0.0   0.0
606    0.0     0.0    0.0   0.0   0.0         0.0    0.0   0.0

[607 rows x 61 columns]

In [55]:
t4 = pd.concat([t3,Rratio],axis=1)
print(t4)

     2022  2021  2020   MI   SE   EN   EX   FT   PT   CT  ...  HoMALE  3DCVR  \
0     1.0   0.0   0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...     0.0    0.0
1     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...     0.0    0.0
2     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...     0.0    0.0
3     1.0   0.0   0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...     0.0    0.0
4     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...     0.0    0.0
..    ...   ...   ...  ...  ...  ...  ...  ...  ...  ...  ...     ...    ...
602   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...     0.0    0.0
603   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...     0.0    0.0
604   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...     0.0    0.0
605   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...     0.0    0.0
606   0.0   0.0   1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...     0.0    0.0

     DASP  STDS  BİGDATAARC  FİNDA  MADA    0   50  100
0     0.0   0.0         0.0    0.0   0.0  1.0  0.0  0.0
1     0.0   0.0         0.0    0.0   0.0  1.0  0.0  0.0
2     0.0   0.0         0.0    0.0   0.0  0.0  1.0  0.0
3     0.0   0.0         1.0    0.0   0.0  1.0  0.0  0.0
4     0.0   0.0         0.0    0.0   0.0  0.0  1.0  0.0
..    ...   ...         ...    ...   ...  ...  ...  ...
602   0.0   0.0         0.0    0.0   0.0  0.0  0.0  1.0
603   0.0   0.0         0.0    0.0   0.0  0.0  0.0  1.0
604   0.0   0.0         0.0    0.0   0.0  1.0  0.0  0.0
605   0.0   0.0         0.0    0.0   0.0  0.0  0.0  1.0
606   0.0   0.0         0.0    0.0   0.0  0.0  0.0  1.0

[607 rows x 64 columns]

In [56]:
t5 = pd.concat([t4,Cloc],axis=1)
print(t5)

     2022  2021  2020   MI   SE   EN   EX   FT   PT   CT  ...   MT   IL   UA  \
0     1.0   0.0   0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
1     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
2     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
3     1.0   0.0   0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
4     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
..    ...   ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
602   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
603   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
604   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
605   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
606   0.0   0.0   1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0

      IQ   RO   HR   NZ   HU   HN   IE
0    0.0  0.0  0.0  0.0  0.0  0.0  0.0
1    0.0  0.0  0.0  0.0  0.0  0.0  0.0
2    0.0  0.0  0.0  0.0  0.0  0.0  0.0
3    0.0  0.0  0.0  0.0  0.0  0.0  0.0
4    0.0  0.0  0.0  0.0  0.0  1.0  0.0
..   ...  ...  ...  ...  ...  ...  ...
602  0.0  0.0  0.0  0.0  0.0  1.0  0.0
603  0.0  0.0  0.0  0.0  0.0  1.0  0.0
604  0.0  0.0  0.0  0.0  0.0  1.0  0.0
605  0.0  0.0  0.0  0.0  0.0  1.0  0.0
606  0.0  0.0  0.0  0.0  0.0  1.0  0.0

[607 rows x 114 columns]

In [57]:
t6 = pd.concat([t5,Csize],axis=1)
print(t6)

     2022  2021  2020   MI   SE   EN   EX   FT   PT   CT  ...   IQ   RO   HR  \
0     1.0   0.0   0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
1     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
2     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
3     1.0   0.0   0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
4     1.0   0.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
..    ...   ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
602   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
603   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
604   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
605   0.0   0.0   1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
606   0.0   0.0   1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0

      NZ   HU   HN   IE    S    M    L
0    0.0  0.0  0.0  0.0  1.0  0.0  0.0
1    0.0  0.0  0.0  0.0  0.0  0.0  1.0
2    0.0  0.0  0.0  0.0  0.0  1.0  0.0
3    0.0  0.0  0.0  0.0  0.0  0.0  1.0
4    0.0  0.0  1.0  0.0  1.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...
602  0.0  0.0  1.0  0.0  0.0  1.0  0.0
603  0.0  0.0  1.0  0.0  0.0  1.0  0.0
604  0.0  0.0  1.0  0.0  0.0  1.0  0.0
605  0.0  0.0  1.0  0.0  0.0  1.0  0.0
606  0.0  0.0  1.0  0.0  1.0  0.0  0.0

[607 rows x 117 columns]

## Training

In [58]:
x_train,x_test,y_train,y_test = train_test_split(t6,salary_usd,test_size=0.40,random_state=0)

In [60]:
x_train

,2022,2021,2020,MI,SE,EN,EX,FT,PT,CT,...,IQ,RO,HR,NZ,HU,HN,IE,S,M,L
155,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
562,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
185,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
101,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
97,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
359,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
192,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
559,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

## Scale

In [61]:
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)

## Classification

### 1. Logistic Regression

In [68]:
lr = LogisticRegression(random_state=0)
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
cm = accuracy_score(y_test,y_pred)
print(cm)
print(y_pred)

C:\Users\asus\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.04938271604938271
[140000  55000  75000 155000 162674  51064 160000  45807 150000 154600
  99000 235000  90734 140000 127221  76940  90320 155000 100000 155000
  68428  80000 200000  65000  90000 150000  24000  90000 102839  39263
 220110  78791  45807  28399  75000  90320  99000  90320  78526 220110
  96282 187442 110000  90320  90320 216000  52351  90700  41689  43966
  90320 189650 105400  20000 215300 144000  74130 155000  18442 144000
  80000  18442 215300 109024  90320  20000 109000  35590  80000  58000
 189650 140000  75000  49646 138000 151000  10354  70139 154600 138000
  61300 189650 105400  90320 150000 100000 155000  49646 266400  61300
  20000 109024 140000 100000 152500  54742 153000 152500 170000  75000
 155000  62649  29751 155000  28399  20000  48000  54742  40570  55000
  46809  90320  77684  49646  75000 154600 140000 130000 141300 220000
 120000 140000 235000  28609  90320 140000  74130  24342  90000 200000
 130000 216000 160000 155000 154600 117789  82500  90320  75000 184700
  90320 111775  75774  99100  61300 160000  55000 200000 130000 189650
  90000  90000 122346 115500  45760 111775  50000  85000  90000  99100
 266400  88654 140000  70139 155000 150000 154600 165000 220000 140000
 117789 140000  76940 130000 140000  75000  45391  90320 155000 117789
 160000 130000 225000  58000 200000 140000 100000  79197 220110  76940
  63711 117789  58000  24000  93000 155000  78526 140000 100000 103000
 150000  22611  63831  85000  78526  66022 155000 155000  65013  90000
  90320  52351  85000 130000  78526 153000 160000  82500  45760 130000
 220000  58000 100000 160000  62649  50180  99000  94564 135000  90320
 155000 220000 140000  63711 130000 120000  39263  82500 140400 155000
 266400  99000 117789]

C:\Users\asus\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

### 2. SVC

In [67]:
sv = SVC(kernel='poly')
sv.fit(X_train,y_train)
y_pred = sv.predict(X_test)
acs = accuracy_score(y_test,y_pred)
print(acs)
print(y_pred)

0.012345679012345678
[150000 200000 150000 150000 162674  51064 150000 150000 150000 150000
 150000 150000 150000 150000   2859 150000 150000 150000 150000 150000
 150000 150000 150000  65000 150000  86703 150000 150000 150000 150000
 150000  78791 150000 150000 150000 150000 150000 150000 150000 150000
 150000 150000 150000 150000 150000 150000 150000 150000  41689 150000
 150000 150000 150000 150000 150000 150000  74130 150000  18442 150000
 150000  62726 150000 109024 150000 150000 150000  35590 150000 150000
 150000 150000 150000 150000 150000 150000 150000 150000 150000 150000
 150000 150000 150000 150000 150000  69999 150000 150000 150000 150000
 150000 150000 150000 150000 150000 150000 153000 150000 170000  75000
 150000  62649 150000 150000 150000 150000 150000 150000 150000  55000
 150000 150000 150000 150000  75000 150000 150000 150000 150000 150000
 150000 150000 150000 150000 150000 150000  74130 150000 150000 150000
 150000 150000 160000 150000 150000 150000 150000 150000  75000 184700
 150000 150000 150000 150000 150000 150000 200000 200000 150000 150000
 150000 150000 122346 150000 150000 150000 150000 150000 150000 150000
 150000 150000 150000 150000 150000 150000 150000 150000 150000 150000
 150000 150000 150000  18442 150000 150000  45391 150000 150000 150000
 160000 150000 160000 150000 200000 150000 150000 110000 150000 150000
 150000 150000 150000  24000 150000 150000 150000 150000 200000 150000
 150000  22611  63831 150000 150000 150000 150000 150000 150000 150000
 150000 150000 150000 150000 150000 153000 150000 150000 150000 150000
 150000 150000 150000 160000 150000  50180 150000 150000 135000 150000
 150000 150000 150000  63711 150000 150000 150000 150000 150000 150000
 150000 150000 150000]

C:\Users\asus\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### KNN

In [69]:
kn = KNeighborsClassifier(n_neighbors=20,metric='manhattan')
kn.fit(X_train,y_train)
y_pred = kn.predict(X_test)
acsc = accuracy_score(y_test,y_pred)
print(acsc)
print(y_pred)

0.0205761316872428
[140000  55000  99000 100000  54742 100000 140400  52351  80000 100000
  90320 140000 135000 140000 210000  32974  90320 100000 100000 100000
 130000  90320 150000 140000  90000 150000 130000  80000 200000  39263
 160000 140000  24342 150000  90000  90320  90320  90320  39263 160000
 200000  50000 135000  90320  90320 100000  39263 140000 140400 112900
  90320  39263 140000  20000 140000 200000 140400 100000 200000 200000
  80000  80000 140000  39263  90320 200000 135000  80000  99000  80000
  99000 140000  99000  80000  24823 150000 200000  49646 100000 189650
  90320  39263 140000  90320 150000 140000 100000  80000 140000  90320
  99000  80000 140000  80000 140000  40481 120000 140000 150000  75000
 100000  49646  80000 100000 140000  40481 135000  10354  40570  80000
 200000  90320  29751  40481 140000 100000 140000 140000 130000 140000
 140400  80000 135000  80000  90320 140000 130000 140400  80000 150000
 140000 100000 135000 100000 100000  39263 130000  90320  80000  99000
  90320 200000 135000  26005  90320 200000  80000 200000 140000  99000
  90320  90000  80000  90320  39263 200000 120000  26005 100000  26005
 140000 120000 140000  45760 100000 200000 100000 100000  80000 140000
  39263 140000  20000 130000 140000  99000  29751  90320 100000  45807
 130000 130000 160000  58000 130000 140000 140000 140000 160000  32974
 210000 140400  75000  99000  80000 100000 200000 140000  80000  20000
 150000  80000  24823 140000  39263 117789 100000 100000 100000  80000
  90320  39263 140000 130000  39263  80000  39263 130000  45760 130000
 140000  24823  80000 150000 120000 130000  90320  24823 140000  90320
 100000 140000 140000  41689 140000  40481  39263  90000 140400 100000
 140000  99000  45807]

C:\Users\asus\AppData\Roaming\Python\Python39\site-packages\sklearn\neighbors\_classification.py:200: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

### Naive Bayes

In [70]:
nb = GaussianNB()
nb.fit(X_train,y_train)
y_pred = nb.predict(X_test)
ac = accuracy_score(y_test,y_pred)
print(ac)
print(y_pred)

0.0411522633744856
[123000  28609  75000 132320 162674  51064 180000  45807 185000 154600
  99000 230000  90734 123000 127221  49461  90320 132320  80000 132320
 150000 170000 112000  65000  90000 150000  24000  90000 102839  71982
  54000  78791 150000  20000  58000  90320  99000  90320  78526  54000
  96282 187442 110000  90320  90320 216000  39263  90700 160000  43966
  90320 150000 105400  20000 140000 144000  74130 132320 100000 144000
  90000 100000 215300  60000  90320  20000 109000  35590  10000 150000
 189650 123000 130000  49646 150000 100000 100000  70139 154600 150000
  61300 150000 105400  90320 180000 100000 132320  49646 144854 130000
  20000  60000  50000 100000 152500  85000 153000 152500 170000  75000
 132320  62649  20000 132320  20000  20000 150000 100000  40570  55000
  46809  90320  77684  49646  75000 154600 123000 167000 141300 220000
 230000 185000 230000  28609  90320 123000  74130  20000  90000 112000
 167000 216000 160000 132320 154600 117789  20000  90320  75000 184700
  90320   4000 130000  99100  61300 130000  55000 200000 167000 189650
 100000   4000 122346 115500 150000 111775 100000  85000 160000  99100
 144854  88654 123000  70139 132320 150000 154600 165000 220000 123000
 117789 123000  49461 100000 123000 130000  45391  90320 132320 117789
 160000 250000 160000  58000 200000 123000 100000  20000  54000  49461
  63711 117789  58000  24000  93000 132320 130000 123000  55000  90000
 150000  22611  63831  85000  78526  66022 132320 132320  87932 150000
  90320  39263  85000  58000  78526 153000 160000  85000 150000 160000
 220000 150000 100000 160000  62649  50180  99000  88654 135000  90320
 132320 220000 123000  63711 167000 150000  71982  82500  95550 132320
 144854  85000 117789]

C:\Users\asus\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### DECS TREE

In [71]:
dc = DecisionTreeClassifier()
dc.fit(X_train,y_train)
y_pred = dc.predict(X_test)
ac2 = accuracy_score(y_test,y_pred)
print(ac2)
print(y_pred)

0.0411522633744856
[140000  28609  75000 100000 162674 100000 160000  45807 220000 154600
  99000 100000  88654 140000  55000  49461  90320 100000 100000 100000
 118000  80000 200000  65000 130026  35590   2859  90000  88654  39263
  54000  90700  45807  88654  75000  90320  99000  90320  78526  54000
  56256  60757  80000  90320  90320 216000  39263  90700 168000  43966
  90320  39263 105400   2859 160000  55000  50180 100000 103000 144000
  80000  76833 215300 113476  90320  31615 109000  45391 100000  55000
 189650 140000  59102  49646 100000  95746  49461  32974 154600  65000
  61300  39263 105400  90320 150000  10000 100000  49646 144854  61300
  59102 100000  68428 185000 152500 100000 240000 152500  88654  54094
 100000  18000  65013 100000  10000  32974 220000  10000  60000  76833
  46809  90320 127221  49646 200000 154600 140000 130000 102100 220000
 127221 185000  35590  55000  90320 140000  88654  94564  90000 200000
 130000 216000 160000 100000 154600  52351   2859  90320 200000 184700
  90320   4000  55000  99100  61300  74130  90000 185000 130000 189650
  90000   4000 100000 115500 110037 111775 160000  95746 160000  99100
 144854  40481 140000  40481 100000  54094 154600 150000 151000 140000
  52351 140000  49461  50180 140000  59102 100000  90320 100000 117789
 159000 141846  55000  55000 159000 140000 200000 113476  54000  49461
 160000 117789  58000  85000  80000 100000 110037 140000  80000  29751
 150000  76833  63831 135000  78526  66022 100000 100000  49461  90000
  90320  39263 135000 160000  78526 153000 113476   2859 138000 130026
 220000 100000 100000 160000 117104  50180  99000  32974 135000  90320
 100000 220000 140000  63711 130000  40481  39263  82500  80000 100000
 144854  91237 117789]

### RANDOM FOREST

In [72]:
rf = RandomForestClassifier(random_state=0)
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
ac3 = accuracy_score(y_test,y_pred)
print(ac3)
print(y_pred)

C:\Users\asus\AppData\Local\Temp/ipykernel_5076/180484563.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train,y_train)

0.04938271604938271
[140000  18053  75000 155000 173762 100000 160000  45807 185000 154600
  99000 220000  90734 140000  62651  49461  90320 155000  65000 155000
  45760  93000 200000  65000  47282  46597   2859  90000  51064  39263
 136000  90700  45807  28399  75000  90320  99000  90320  78526 136000
  66022 127221 103000  90320  90320 216000  52351  90700 168000  43966
  90320  52351 150260   2859 154600 144000 122346 155000 103000 144000
  80000  10000 215300 109024  90320  22611 130000  46597 100000  55000
 189650 140000  75000  49646 150000  90000  69741  70139 154600  71444
  61300  52351 150260  90320 180000 100000 155000   4000 213120  61300
  20000  91000 135000 100000 152500  20000 240000 152500  22611  75000
 155000  62649  65013 155000  28399  51519  48000  76833 160000  76833
  46809  90320  77684  20000 200000 154600 140000 130000 141300 220000
 120000 185000  20000  24342  90320 140000  60000  24342  90000 200000
 130000 216000 160000 155000 154600  52351  82500  90320 150000 184700
  90320 111775  87738  99100  61300  54238  90000 185000 130000 189650
 160000   4000 100000 135000  45760 111775 160000  26005 150000  99100
 213120  40481 140000  62726 155000 109000 154600 150000 220000 140000
  52351 140000  87932  54238 140000  75000 100000  90320 155000 117789
 160000  79039 127221  90000  99100 140000 200000 113476 136000  49461
 160000 117789  58000  24000  93000 155000  45391 140000  80000  63831
 150000  30428  63831 216000  78526  96282 155000 155000  45807  90000
  90320  52351 216000 157000  78526 153000 160000   2859  90000  75000
 220000  62726 100000 160000  60757  50180  99000  94564 135000  90320
 155000 220000 140000  63711 130000  40481  39263  82500  80000 155000
 213120 117789 117789]